<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Required meta tags -->
    {% load static %}
    <link rel="icon" href="{% static 'BASEMENT/images/original.png' %}" type="image/icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>{% block title %}Fakea Vangchhia{% endblock %}</title>
  </head>
  <body>

  {% block content %}

  {% endblock %}

  <br/><br/><br/>
  <nav class="navbar fixed-bottom navbar-light bg-dark">
    <div class="col-12 d-flex justify-content-center text-center" style="font-size: 25px;">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}"><i class="fa fa-phone"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'portfolio' %}"><i class="fa fa-magic"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'request' %}"><i class="fa fa-tasks"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}"><i class="fa fa-info"></i></a>
        </li>
      </ul>
    </div>
  </nav>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
  -->
  </body>
</html>