{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<style>
    #background-control{
        background-image: url({% static 'BASEMENT/images/img_3.png' %});
    }
</style>

<div id="background-control">
    <center>
        <h2>This page work but You wouldn't know</h2>
        <pre>
            sf
            sdf
            sdf
            sdf
             we
            fwe
            fwe
            we

            ewf
            wef
            w ef
            ewf
            w e
            af
            edwf
            a
            ef
            awe
            fewa
            ewa
            f
            ewaf
            waef
            aewf
            wea
            fwae
            fwe
            af
            wae
            fawe
            fa
            wfe
            sf we
            f efa
            awef
             ae
            fd
            sdf
            sdf
            saf
            sad
            fd
            safsd
            af
            fdsfsd
            f
            sf
            sd
            d
            f
            sfsa
            df
            sdfsd
            fsd
            f
            f
            sf
            sd
            fds
            fsd
            fsdfsf
            sfjsdf\j
            fsdj
            fwe
            f w
            efw
            fwefwefwoej w
            fwjf wkfwje
            f wjf iw
            j\f jewa
            i
             fdshe
            wfiafew\fjf\

        </pre>
    </center>
</div>

{% endblock %}

